#order-tab .swiper-button-prev,
#order-tab .swiper-button-next {
  top: auto;
  bottom: 0;
  background-color: #bb8506;
  color: black;
  border: 1px solid black;
  border-radius: 50%;
  height: 60px;
  width: 60px;
}
#order-tab .swiper-button-prev {
  left: 0;
}
#order-tab .swiper-button-next {
  left: 15%;
}
#order-tab .swiper-pagination-fraction {
  left: 9%;
  width: auto;
}
